@font-face {
    font-family:'Varsity';
    src: url('VarsityTeamBold-6AXq.otf') format('opentype');
}


html {
  font-size: 18px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Roboto, sans-serif;
}

.LogoNational {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #3cb4e5;
    margin-block-start:0px;
    margin-block-end:0px;
}

.LogoChapter {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.MenuItem {
    font-family:Poppins, sans-serif;
    color:white;
    font-size:18px;
    display:inline-block;
    text-align:center;
}

    .MenuItem a {
        color: white !important;
        text-decoration: none !important;
        width: 100%;
        display: inline-block;
        padding: 5px 10px;
    }

        .MenuItem a:hover {
            color: #fa7601 !important;
            border-top: 1px solid #fa7601;
            border-bottom: 1px solid #fa7601;
        }

.MenuItemSelected {
    color: #fa7601 !important;
}

    .MenuItemSelected a {
        color: #fa7601 !important;
        text-decoration: none !important;
        width: 100%;
        display: inline-block;
        padding: 5px 10px;
        border-top: 1px solid #fa7601;
        border-bottom: 1px solid #fa7601;
    }

        .MenuItemSelected a:hover {
            color: #ffffff !important;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
        }

.HomeTitleSmall {
    font-family: Varsity, Roboto, sans-serif;
    color:white;
    font-size:20px;
}

.HomeTitleLarge {
    font-family:  Roboto, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.TitleBarDark {
    background-color: #002856;
}

.TitleBarLight {
    background-color: #004a98;
}

.TitleBarText {
    font-family:Roboto, sans-serif;
    font-size:16px;
    color:white;
    font-weight:500;

}

a.TitleBarText {
    color:white !important;
    text-decoration:none;
}

    a.TitleBarText:hover {
        text-decoration:underline;
    }

a.SocialImage {
    padding: 5px 10px;
    display: inline-block;
}

    a.SocialImage img {
        width: 50px;
        height: 50px;
        margin-top: -15px;
        margin-bottom: 5px;
    }

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .ExpandMobile {
        width: 100% !important;
    }

    .Menu {
        display: none !important;
    }

    .LogoNational {
        font-size: 16px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        color: #3cb4e5;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .LogoChapter {
        font-size: 24px;
    }

    .LogoImage {
        max-width:75px !important;
        padding-left:15px;
    }

    .Logo {
        margin:20px auto !important;
    }
    .HomeTitleSmall {
        font-size:22px !important;
    }
        .HomeTitleSmall span {
            width:100% !important;
        }
    .HomeTitleLarge {
        font-size:36px !important;
    }
    .HeaderImage {
        min-height:400px !important;    
    }
}